
<div class="product-card mdl-card mdl-shadow--2dp">
  <img class="mdl-card__title product-card__image" [src]="item.img">
  <div class="mdl-card__supporting-text">
    <h2 class="mdl-card__title-text">{{item.title}}</h2>
  </div>
  <div class="mdl-card__actions mdl-card--border product-card__more">
    <button class="mdl-button mdl-button--icon">
      <i class="material-icons">share</i>
    </button>
    <a class="mdl-button mdl-button--colored product-card__more-text">
      View More
    </a>
  </div>
</div>
