@import "./../../../styles/variables";

.product-card{
  margin: 0 auto;
  width: 80%;
  border: 2px solid gray;
}

.product-card__image{
  height: 200px;
  object-fit: cover;
  padding: 0;
}

.product-card__more {
  display: flex;
}
.product-card__more-text{
  margin-left: auto;
}
